.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
html{
  scroll-behavior: smooth;
}
/* base */

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
}

.button:hover {
  background-color: #404bbf;
}

/* header */

.header-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-accent {
  color: #2e2f42;
}

.header-nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 20px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 20px;
}

.link-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-header:hover,
.link-header:focus,
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}

/* hero section */

.hero-s {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.buttonn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
}
.buttonn:hover,
.buttonn:focus {
  background-color: #404bbf;
}

/* our benefits */

.advantages-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.base-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* our team */
.team {
  background-color: #f4f4fd;
}
.base-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.base-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-card {
  background-color: #fff;
}
.align-text {
  text-align: center;
}
/* footer */
.footer {
  background-color: #2e2f42;
}
.logo-text-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
