/* reset */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* base */

html {
  scroll-behavior: smooth;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.class-header {
  border-bottom: 1px solid #e7e9fc
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-nav-links {
  display: flex;
  align-items: center;
}

.navigation-list,
.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px
}

.logo-accent {
  color: #2e2f42;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.link-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}

/* hero */

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.hero-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

/* advantages */

.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  flex-basis: calc((100% - 72px) / 4)
}

.advantages-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* team */

.team {
  background-color: #f4f4fd;
}

.base-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-card-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.description-team {
  text-align: center;
  max-width: 264px;
  padding: 32px 0;
}

.align-text {
  margin-bottom: 8px
}

.base-text {
  text-align: center;
}

/* portfolio */

.portfolio-card-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.portfolio-card {
  max-width: calc((100% - 48px) / 3);
}

.base-h-three {
  margin-bottom: 8px;
}

/* footer */
footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-text-footer {
  color: #f4f4fd;
}
.footer-cont .logo {
  display: inline-block;
  margin: 0 0 16px 0;
  padding: 0;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  text-align: start;
}

